/* body {
  background-color: rgb(240, 233, 233);
  padding-left: 20%;
  /* background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #444cf7,
    #444cf7 1px,
    #e5e5f7 1px,
    #e5e5f7
  ); */
*/ .App {
  font-family: "Times New Roman", Times, serif;
}

button {
  padding: 10px;
  margin: 10px;
  color: rgb(17, 52, 83);
  background-color: lightcoral;
}

h1 {
  font-size: 25px;
  padding: 15px;
  border: 5px solid lightcoral;
  width: 130px;
  height: 50px;
  margin-top: 80px;
}
